FINAL/
affectnet/
before/
datasetFIX/
db_faces_clean/
db_faces_clean_selected/
db_faces_clean_undersampled/
db_hand_rand_after/
db_hand_rand_before/
disgust_before/
disgust_fear/
disgust_fear_pyfeat/
face_only_ori/
hasil_deepface/
hasil_seleksi_before_deepface/
hasil_seleksi_datasetFIX/
UJI/
venv/
.vscode/

